PORT=your_port
DATABASE_URL=your_mongodb
TOKEN_KEY=your_jwt_key
ENCRYPT_KEY==your_encrypt_key
ENCRYPT_ALGORITHM=your_algorithm like (aes-256-cbc)
PREFIX=your_prefix
SALT_ROUNDS=your_salt
CLIENT_ID=your_client_id